.animated-button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .animated-button {
    --primary-color: white;
    --hovered-color: rgb(29, 209, 29);
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
  }
  
  .animated-button p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color);
  }
  
  .animated-button::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
  }
  
  .animated-button p::before {
    position: absolute;
    /*   box-sizing: border-box; */
    content: "Add Car";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  
  .animated-button:hover::after {
    width: 100%;
  }
  
  .animated-button:hover p::before {
    width: 100%;
  }
  
  .animated-button:hover svg {
    transform: translateX(4px);
    color: var(--hovered-color);
  }
  
  .animated-button svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
  }
  