.background {
    background: linear-gradient(to bottom, #12100E,#2B4162,#12100E);
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: 10;
    padding: 0px;
}

.navbar link {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar link:hover {
    background-color: #ddd;
    color: black;
}

.navbar link.active {
    background-color: #4caf50;
    color: white;
}

@media screen and (max-width: 600px) {
    .navbar link {
        float: none;
        width: 100%;
        font-size: 16px;
        padding: 12px 16px;
    }
}

.menu-mobile {
    position: absolute;
    box-sizing: border-box;
}

.mobile-container {
    background: rgba(48, 47, 47, 0.363) ;
    height: 100vh;
    width: 40vh;
    backdrop-filter: blur(6px);
}

.menu-mobile-container {
    position: absolute;
    top: 0;
    left: -450%;
    width: 100%;
    height: 100%;
    transition: left 0.4s ease;
}

.menu-mobile-container.show-menu {
    left: 0;
}

.menu-item-show {
    opacity: 1;
    transform: translateX(80px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.menu-item-show.show-menu {
    opacity: 0;
    transform: translateX(-80px);
}

.menu-mobile a {
    display: block;
    width: 100%;
    padding: 12px 16px;
    text-decoration: none;
}

.menu-mobile a:hover {
    background-color: rgba(2, 28, 32, 0.642);
    color: white;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.App-header {
    background: linear-gradient(to bottom, #12100E,#2B4162,#12100E);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-footer {
    position: relative; /* Asegura que el pseudoelemento esté posicionado correctamente */
    background: url('../assets/images/footer.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1; /* Coloca el contenido del footer por encima del pseudoelemento */
}

.App-footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.78); /* Ajusta los valores RGBA para cambiar el color y la opacidad */
    z-index: -1; /* Coloca el pseudoelemento por detrás del contenido del footer */
}

.footer-container {
    display: grid;
    opacity: 1;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

@media (max-width: 767px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
}

.footer-text {
    color: white;
    filter: drop-shadow(0px 0px 10px #55c1c7);
}

.footer-icon {
    color: white;
    filter: drop-shadow(0px 0px 10px #55c1c7);
}