.name-text {
    font-size: 3.35rem;
    background: hsl(183, 100%, 69%);
    background: rgb(55, 12, 20);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.desc-text {
    font-size: 1.35rem;
}

.color-text {
    font-size: 2.00rem;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px;
}

.popup {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(29, 209, 29);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.slide-in {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
  
.slide-in-visible {
    opacity: 1;
    transform: translateX(0);
}
  